<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="The offical Smash Staff Panel!">
  <meta name="author" content="Rize Services">
  <title>Smash &raquo; Requests</title>
  <link rel="icon" href="https://i.imgur.com/gdBZHuF.png" type="image/png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <link rel="stylesheet" href="assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
  <link rel="stylesheet" href="assets/css/argon.css?v=1.2.0" type="text/css">
</head>

<body>
  <%- include('../../partials/sidebar.ejs') %>
    <%- include('../../partials/topnav.ejs') %>
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
            <div class="requestHeader">
                <h1>Requests:</h1>
                <p>Here you can find requests from listeners! You don't <strong>have</strong> to play them if you don't want to.</p>
            </div>
            <div class="requestBody">
                <div class="card bg-default shadow">
                    <div class="table-responsive">
                      <table class="table align-items-center table-dark table-flush">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col" class="sort" data-sort="name">Username</th>
                            <th scope="col" class="sort" data-sort="title">Title</th>
                            <th scope="col" class="sort" data-sort="Artist">Artist</th>
                            <th scope="col">Message</th>
                            <th scope="col" class="sort" data-sort="completion">Actions</th>
                          </tr>
                        </thead>
                        <tbody class="list">
                            <% rows.forEach(function(request) { %>
                                <tr>
                                    <th scope="row">
                                      <%- request.name %>
                                    </th>
                                    <td class="title">
                                        <%- request.title %>
                                    </td>
                                    <td>
                                        <%- request.artist %>
                                    </td>
                                    <td>
                                        <%- request.message %>
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              <i class="fas fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                              <a class="dropdown-item" href="/api/delete/request/<%- request.id %>">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                      </table>
                    </div>
                  </div>
            </div>
        </div>
    </div>
  </div>
  <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/js-cookie/js.cookie.js"></script>
  <script src="assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
  <script src="assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <script src="assets/js/dashboard.js"></script>
  <script src="assets/js/argon.js?v=1.2.0"></script>
</body>
</html>
